@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
}

.icon-hover {
  transition: color 0.3s ease-in-out, text-shadow 1s ease-in-out; /* Make the glow effect disappear gradually */
}

.icon-hover:hover {
  color: #FFFFFF; /* Neon white color */
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1); /* Stronger neon white glow */
}

